# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/**/node_modules/**

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.firebase

# System Files
.DS_Store
Thumbs.db
src/app/debug.log
debug.log
ui-debug.log
firestore-debug.log
firebase-debug.log
firebase-emulator-data
firestore-coverage.html
firebase/firestore/lib/firebase/firestore/security-rule-types.js
firebase/firestore/lib/firebase/firestore/security-rule-types.js.map
firebase/firestore/lib/firebase/firestore/security-rules.js
firebase/firestore/lib/firebase/firestore/security-rules.js.map
firebase/firestore/lib/src/app/firestore/data-types.js
firebase/firestore/lib/src/app/firestore/data-types.js.map
firebase/firestore/generated.rules
