<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a routerLink="/scratchpad">Scratchpad</a>
    </li>
    <li>
      <a routerLink="/experiment">Experiment</a>
    </li>
    <li>
      <a routerLink="/authplayground">Authentication Playground</a>
    </li>
    <li>
      <a routerLink="/signin">Sign in</a>
    </li>
    <li>
      <a routerLink="/profile">Account</a>
    </li>
    <li><a routerLink="/grocerylist">Grocery list</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
