<div *ngIf="state.state === 'authorized'">
  <div *ngIf="state.invite.invite === 'none'">
    <!-- <p>
      To share your grocery list with other people, first create an invitation.
    </p> -->
    <form [formGroup]="createInviteForm" (ngSubmit)="submitForm()">
      <mat-form-field *ngIf="state.user.displayName === undefined">
        <mat-label>Your name</mat-label>
        <input
          matInput
          [formControl]="displayNameControl"
          type="text"
          required
        />
        <mat-error>This is required.</mat-error>
      </mat-form-field>
      <div fxLayoutGap="1rem">
        <button mat-button mat-raised-button color="primary" type="submit">
          CREATE INVITATION
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="state.invite.invite === 'exists'">
    <p>
      Anyone with the link can share your grocery list. Email or text it to
      people in your home or family.
    </p>
    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
      <input
        id="{{ inviteInputId }}"
        matInput
        type="url"
        readonly
        value="{{ state.invite.uri }}"
      />
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="send({ action: 'copyInvite' })"
      >
        COPY LINK
      </button>
    </div>
  </div>
  <div *ngIf="state.invite.invite === 'creating'">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Creating invitation...</p>
  </div>
</div>
<div *ngIf="state.state === 'unauthorized'">
  You need to be signed in as a registered user to share your grocery list.
</div>
<div *ngIf="state.state === 'loading'">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
