<h1>Try Share UI</h1>
<div><button (click)="guest()">Guest</button></div>
<div>
  <button (click)="error()">Error creating invite</button>
</div>
<div>
  <button (click)="authorized(undefined, noInvitationUri)">
    NO name | NO invite
  </button>
  <button (click)="authorized('mike', noInvitationUri)">
    Mike | NO invite
  </button>
  <button (click)="this.authorized('mike', mikeInviteUri)">
    Mike | has invite
  </button>
  <button (click)="authorized('mike', creatingInvite)">
    Mike | CREATING invite
  </button>
</div>
<div>
  <button (click)="authorized('   ', noInvitationUri)">
    Whitespace | NO invite
  </button>
</div>

<div>Requested invite: {{ requestedInviteAsString }}</div>
<hr />
<app-share-ui #component (createInvite)="onCreateInvite($event)"></app-share-ui>
